* {
  
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #667DBA;
}

#gameTitle {
  color: #C2D5DE;
}

#subtitle {
  color: #C2D5DE;
}

.button {
  -webkit-align-self: center; /* Safari 7.0+ */
    align-self: center;
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;
    border: none;
    background: #AD3EB0;
    color: white;
    font-size: 28pt;
    text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
}
