/*Phone*/
.trackList{
    overflow: hidden;
    border-radius: 25px;
    background-color:#8038BA;
    color: #C2D5DE;
    font-size: 16pt;
    padding: 10px;
}

/*Desktop*/
@media screen and (min-width: 800px){
    .trackList{
        overflow: hidden;
        border-radius: 25px;
        background-color:#8038BA;
        color: #C2D5DE;
        font-size: 20pt;
        padding: 10px;
    }
}
