html, body {
    height: 95%;
}

#countdown {
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 33vw;
}

.button-game {
    position: relative;
    display: inline-block;
    bottom: 5px;
    white-space: nowrap;
    width: auto;
    margin: 1vw 45vw 0;
}

.button-game button {
    width: 10vw;
    height: 5vh;
    border: none;
    background: #5539CC;
    color: white;
    font-size: 1vw;
    
}

#trackDiv {
    text-align: center;
}

#timestamp {
    border: 2px solid black;
    height: 33vw;
    overflow: scroll;
}

#wrap {
    position: relative;
    height: 100%;
    max-width: 100%;
    width: auto;
}

#wrap h1 {
    text-align: center;
    font-size: 4vw;
}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 10vw;
    border: none;
    background: #5539CC;
    color: white;
    font-size: 1vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    
}

#result-popup{
    background-color: green;
    text-align: center;
    border-radius: 10%;
    height: 40vh;
    width: 40vw;
    margin: 30vh 30vw;
}

#result-popup p {
    font-size: 210%;
}

.notes {
    font-family: Notes;
    display: inline;
    font-size: 45px;
}

@font-face {
    font-family: Notes;
    src: url(fonts/MusiSync.ttf);
}
